@media only screen and (max-width: 600px) {
    .container{
        max-width: 540px;
        margin:  0 auto;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
      }
      img{
        width: 100%;
    }
    /* -------- */
    header {
        padding-top: 103px;
        padding-bottom: 78px;
        height: auto;
    }
    nav {
        flex-wrap: wrap;
    }
    nav .logo{
        margin-bottom: 62px;
        margin: 0 auto;
    }
    nav > ul {
        flex-wrap: wrap;
    }
    nav li {
        width: 100%;
    }
    nav a {
        margin-bottom: 36px;
        display: inline-block;
    }
    /* -------------------------- */
    .banner {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .banner-list li img {
        margin-right: 5px;
        width: auto;
    }
    .banner-text{
        max-width: 100%;
        order: 2;
        padding: 70px 90px 70px 40px;
        background-size: cover;
    }
    .banner-title {
        font-size: 38px;
    }
    .banner-large-text {
        font-size: 70px;
    }
    .pink-btn {
        margin-right: 20px;
        padding: 15px 30px;
        font-size: 18px;
   
    }
    .blue-btn {
        margin-right: 20px;
        padding: 15px 30px;
        font-size: 18px;
   
    }
    .banner-img {
       order: 1;
        width: 100%;
        height: auto;
    }
    /* ------------ */
    .gamer-bg {
       
        overflow: hidden;
    }
    .gamer {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }
    .gamer .position p{
        text-align: center;
    }
    .gamer img{
        width: 100%;
    }
    .gamer-text-unleash {
        font-size: 26px;
   
    }
    .description-paragraph{
        text-align: center;
    }
    .violet-title {
        max-width: 380px;
      max-height: 380px;
        text-align: center;
        width: auto !important;
        height: auto !important;
        font-size: 28px; 
    }
    .bold-title {
        font-size: 28px;
    }

    /* ----------- */
    .grid-container {
        padding: 0px 40px;
        flex-wrap: wrap;
    }
    .grid-container > div {
        width: 100%;

    }

    /* -------- */
    .play-section {
      flex-wrap: wrap;
    }
    .play-section .item {
        width: 100% !important;
    }
    .bold-title{
        text-align: center;
    }
    .play-section .item p {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    .play-section .item .bigImg {
        position: relative;
        width: 70%;
    }
    .play-section .item .smallImg {
        left: 70px;
        bottom: -70px;
        width: 150px;
    }
    .play-section .item-right{
            display: flex;
    justify-content: end;
    }
    .play-section .item-left {
        padding-left: 0;
    }
    /* ---------- */
    .play-game{
        flex-wrap: wrap;
      }
      .play-game .item {
          width: 100% !important;
      }

      .play-game .bold-title {
        text-align: center;
    }
    .play-game .item p {
        width: 100%;
        text-align: center;
        font-size: 14px;
        margin-bottom: 60px;
    }
      .play-game .item .bigImg {
        position: relative;
        width: 70%;
    }

    .play-game .item-left{
        margin-right: 0;
        order: 2;
      }
      .play-game .item-right{
      order: 1;
      }
    .play-game .item .smallImg {
        position: absolute;
        right:70px;
        bottom: -70px;
        width: 150px;
    }
    /*  */
    .careers {
        flex-wrap: wrap;
    }
    .careers-bg{
        background-color: rgba(255, 66, 165, 1);
        background-image: none;

    }
    .careers h3 {
        padding-top: 60px;
    }
    .careers .item {
        width: 100%;
        padding-top: 0;
        padding-bottom: 40px;
    }
    .d-none{
        display: block;
    }
    /* -------------- */
    .icons {
        flex-wrap: wrap;
        
    }
    .icons .icon {
        gap: 10px;
        width: 43%;
        margin-bottom: 20px;
    }
    .icons .icon  img {
        width: 30%;
    }
    .icons .icon  h4{
        font-size: 14px;
    }
    /*  */
    footer .logo {
        margin-bottom: 40px;
    }
    footer .logo img{
        width: 50%;
    }
    .flex-menu li a {
        padding: 0px 20px;
        margin-bottom: 24px;
        font-size: 16px;
    }
    .flex-icon li {
        padding: 0 0px;
    }
    .flex-icon li img{
        width: 50%;
    }
    .flex-policy li a {
        padding: 0 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
    /*  */
  }